/* --- --- CAROUSEL --- --- */
.imgcarousel {
  border-radius: 10px;
  padding-left: 2%; }

.carousel__contenedor {
  position: relative; }
  .carousel__contenedor .carousel__anterior {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    background: none;
    opacity: 40%;
    color: #fb8085;
    left: -30px;
    right: none; }
  .carousel__contenedor .carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    background: none;
    opacity: 40%;
    color: #fb8085;
    left: none;
    right: -30px; }
  .carousel__contenedor .carousel__anterior:hover,
  .carousel__contenedor .carousel__siguiente:hover {
    opacity: 100%; }

.carousel__lista {
  overflow: hidden; }
  .carousel__lista .carousel__elemento {
    text-align: center; }

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  color: #fb8085;
  opacity: .2;
  border-radius: 0; }

.carousel__indicadores .glider-dot:hover {
  opacity: .5;
  background: #fb8085; }

.glider-dot.active {
  background: #fb8085; }

.glider-dot {
  background: #fb8085;
  opacity: .5; }

.carousel__indicadores .glider-dot.active {
  opacity: 1; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background-image: url(../img/Pagina/Fondo.jpg); }

header {
  width: 100%;
  height: auto;
  display: flex;
  position: sticky;
  justify-content: center;
  top: 0;
  z-index: 150;
  background-color: #f9c1b1;
  background-image: linear-gradient(to left, #f9c1b1 20%, #fb8085 100%);
  box-shadow: 1px 3px 25px #000;
  font-weight: bold; }

main, footer {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo__link {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .logo__link .logo__img {
    width: 70%;
    height: 100%; }

.nav-index {
  width: 100%;
  height: auto;
  font-family: 'Gabriela', serif;
  display: flex;
  justify-content: center; }
  .nav-index .nav-index__ul,
  .nav-index .nav-index__li {
    padding: 10px;
    margin: 0;
    list-style: none;
    float: left;
    text-align: center;
    margin-left: 20px; }
    .nav-index .nav-index__ul .nav-index__link,
    .nav-index .nav-index__li .nav-index__link {
      color: #fff;
      margin: -10px;
      padding: 10px;
      display: run-in;
      text-decoration: none;
      display: flex; }
      .nav-index .nav-index__ul .nav-index__link:hover,
      .nav-index .nav-index__li .nav-index__link:hover {
        cursor: pointer;
        color: #000; }

.navbar {
  display: none; }

.nav-index-collapse {
  width: 100%;
  height: auto;
  font-family: 'Gabriela', serif;
  display: flex;
  justify-content: center; }

.nav-index__ul-collapse,
.nav-index__li-collapse {
  padding: 10px;
  margin: 0;
  list-style: none;
  float: left;
  text-align: center;
  margin-left: 20px; }

.nav-index__link-colapse {
  color: #fff;
  margin: -10px;
  padding: 10px;
  display: run-in;
  text-decoration: none;
  display: flex; }
  .nav-index__link-colapse:hover {
    cursor: pointer;
    color: #000; }

.container-fluid {
  display: flex;
  align-content: center;
  flex-direction: column; }

h2 {
  width: 20%;
  height: 20%;
  text-align: center;
  color: #fb8085;
  font-family: 'Gabriela', serif;
  position: static;
  padding: 1%; }

.title {
  font-size: 170%;
  font-weight: bolder;
  color: #fb8085;
  font-family: 'Gabriela', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%; }

p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center; }

h3, p {
  width: 100%;
  font-size: 20px;
  padding: 0; }

.copyright, h3, p {
  font-family: 'Petrona', serif;
  font-weight: bold;
  word-spacing: 5px;
  line-height: 50px; }

.index-nosotras {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .index-nosotras .index-nosotras__img {
    margin-top: 5%;
    border-radius: 500px;
    border-style: dashed;
    border-width: 10px;
    border-color: #fb8085;
    padding: 10px;
    border-block: initial;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }

.IndexVideo {
  width: 100%;
  display: flex;
  justify-content: center; }

.videoSpirit {
  border-radius: 500px;
  border-style: dashed;
  border-width: 10px;
  border-color: #fb8085;
  border-block: initial;
  width: 90%;
  height: 100%; }

.socialtitle {
  display: flex;
  justify-content: center;
  text-decoration: underline; }

.btn-primary {
  background-color: #f9c1b1;
  background-image: linear-gradient(315deg, #fb8085 20%, #f9c1b1 60%);
  border-color: white;
  border-width: 2px; }

.btn-primary:hover {
  border-color: #000; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px; }
  .gallery-container .gallery__item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 0px #000;
    animation-name: shadow;
    animation-fill-mode: forwards;
    transition: all ease 500ms;
    animation-delay: 4s;
    animation-duration: 4s; }
    .gallery-container .gallery__item .gallery__title {
      position: absolute;
      bottom: 0;
      color: #fff;
      background: linear-gradient(#fff, #000);
      width: 100%;
      margin: 0;
      padding: 10px;
      display: none; }
    .gallery-container .gallery__item .gallery__img {
      width: 0%;
      height: 0%;
      object-fit: cover;
      animation-name: zoom-in;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      transition: all ease 500ms; }
      .gallery-container .gallery__item .gallery__img:hover {
        cursor: pointer;
        transform: scale(1.5); }

@keyframes zoom-in {
  from {
    width: 0%;
    height: 0%; }
  to {
    width: 100%;
    height: 100%; } }

@keyframes shadow {
  from {
    box-shadow: 0px 0px 0px #000; }
  to {
    box-shadow: 1px 7px 10px #000; } }

.gallery__item:nth-child(1) {
  grid-column-start: span 1;
  grid-row-start: span 4; }

.gallery__item:nth-child(2), :nth-child(6), :nth-child(5) {
  grid-row-start: span 2; }

.gallery__item:nth-child(7), :nth-child(8), :nth-child(9) {
  grid-row-start: span 3; }

.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: auto; }
  .contenedor .contenido-principal {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center; }
    .contenedor .contenido-principal .contenido-principal__imagen {
      border-radius: 5px;
      box-shadow: 1px 10px 15px #000;
      width: 40%; }
    .contenedor .contenido-principal .contenido-principal__contenedor {
      width: 100%; }
      .contenedor .contenido-principal .contenido-principal__contenedor .contenido-principal__titulo {
        width: 100%;
        font-size: 28px;
        font-family: 'Petrona', serif;
        font-weight: bold;
        text-align: center;
        word-spacing: 5px;
        line-height: 50px;
        padding: 0; }

/* generic  */
.row {
  --bs-gutter-x: 0;
  margin-top: -10%; }

textarea.form-control {
  margin-bottom: 10%; }

h1 {
  font-family: 'Questrial', Verdana, sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  color: #8C8C8C; }

/* ===[ Here comes to good stuff : content styling ]=== */
#content {
  max-width: 400px;
  position: relative;
  margin: 50px auto;
  min-height: 200px;
  z-index: 100;
  padding: 30px;
  border: 1px solid #383838;
  /* My stipped background */
  background: #D1D1D1;
  /* Old browsers */
  background: -moz-repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
  /* FF3.6+ */
  background: -webkit-repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
  /* FF3.6+ */
  background: -o-repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
  /* FF3.6+ */
  background: repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
  /* FF3.6+ */
  /*border-radius*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  /*box-shadow*/
  -webkit-box-shadow: 0px 1px 6px #3F3F3F;
  -moz-box-shadow: 0px 1px 6px #3F3F3F;
  box-shadow: 0px 1px 6px #3F3F3F; }

/* * my "fake" background that will hover the stripes *
   ================================================== */
#content form {
  z-index: 101; }

#content:after {
  background: #F9F9F9;
  margin: 10px;
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border: 1px #E5E5E5 solid;
  /*border-radius*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

/* * Styling the send button *
   ================================================== */
input[type=submit] {
  cursor: pointer;
  background: none;
  border: none;
  font-family: 'Alice',serif;
  color: #767676;
  font-size: 18px;
  padding: 10px 4px;
  border: 1px solid #E0E0E0;
  text-shadow: 0px 1px  1px #E8E8E8;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 1%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f7f7f7), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #f7f7f7 1%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #f7f7f7 1%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #f7f7f7 1%, #f2f2f2 100%);
  background: linear-gradient(top, #f7f7f7 1%, #f2f2f2 100%);
  /*border-radius*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*box-shadow*/
  -webkit-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
  -moz-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
  box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
  /*transition*/
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

input[type=submit]:hover {
  color: #686868;
  border-color: #CECECE;
  background: #f4f4f4;
  background: -moz-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);
  background: linear-gradient(top, #f4f4f4 0%, #f2f2f2 100%);
  /*box-shadow*/
  -webkit-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  -moz-box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0; }

input[type=submit]:active, input[type=submit]:focus {
  position: relative;
  top: 1px;
  color: #515151;
  background: #eaeaea;
  background: -moz-linear-gradient(top, #eaeaea 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #eaeaea 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #eaeaea 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #eaeaea 0%, #f2f2f2 100%);
  background: linear-gradient(top, #eaeaea 0%, #f2f2f2 100%);
  /*box-shadow*/
  -webkit-box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  -moz-box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
  box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0; }

#postcard {
  width: 25%;
  z-index: 102;
  margin: 50px auto;
  position: absolute;
  transform: scale(1.2) rotate(30deg);
  left: 650px;
  border-radius: 50px; }

.move {
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-name: anim; }

@keyframes anim {
  from {
    left: 650px;
    transform: scale(1.2) rotate(30deg);
    z-index: 102; }
  50% {
    left: 1150px;
    top: 190px;
    transform: scale(0.8) rotate(45deg);
    z-index: 102; }
  75% {
    left: 700px;
    top: 190px;
    transform: scale(0.8) rotate(45deg);
    z-index: 1; }
  to {
    left: 650px;
    transform: scale(0.5) rotate(20deg);
    z-index: 1; } }

@keyframes animTabletHor {
  from {
    left: 450px;
    transform: scale(1.2) rotate(30deg);
    z-index: 102; }
  50% {
    left: 950px;
    top: 190px;
    transform: scale(0.8) rotate(45deg);
    z-index: 102; }
  75% {
    left: 700px;
    top: 190px;
    transform: scale(0.8) rotate(45deg);
    z-index: 1; }
  to {
    left: 450px;
    transform: scale(0.5) rotate(20deg);
    z-index: 1; } }

@keyframes animTablet {
  from {
    left: 250px;
    transform: scale(1) rotate(28deg);
    z-index: 102; }
  50% {
    left: 600px;
    top: 195px;
    transform: scale(0.8) rotate(45deg);
    z-index: 102; }
  75% {
    left: 400px;
    top: 195px;
    transform: scale(0.8) rotate(45deg);
    z-index: 1; }
  to {
    left: 200px;
    transform: scale(0.5) rotate(10deg);
    z-index: 1; } }

@keyframes animPhone {
  from {
    transform: scale(1); }
  25% {
    transform: scale(1) rotate(0deg); }
  50% {
    transform: scale(0.8) rotate(0deg);
    top: -250px;
    z-index: 102; }
  75% {
    transform: scale(0.9) rotate(0deg);
    top: 200px;
    z-index: 1; }
  to {
    transform: scale(1) rotate(0deg);
    top: 230px;
    z-index: 1; } }

@keyframes animPcWide {
  from {
    left: 800px;
    transform: scale(1.2) rotate(30deg);
    z-index: 102; }
  50% {
    left: 1000px;
    top: 190px;
    transform: scale(0.8) rotate(45deg);
    z-index: 102; }
  75% {
    left: 800px;
    top: 190px;
    transform: scale(0.8) rotate(45deg);
    z-index: 1; }
  to {
    left: 700px;
    transform: scale(0.1) rotate(20deg);
    z-index: 1; } }

@media (min-width: 981px) and (max-width: 1280px) {
  #postcard {
    top: 250px;
    left: 450px; }
  .move {
    animation-name: animTabletHor; } }

@media (min-width: 768px) and (max-width: 980px) {
  #postcard {
    width: 50%;
    top: 200px;
    transform: scale(1) rotate(28deg);
    left: 250px; }
  .move {
    animation-name: animTablet; } }

@media (max-width: 767px) {
  #postcard {
    width: 82%;
    top: 230px;
    left: 9%;
    transform: scale(1); }
  .move {
    animation-name: animPhone; }
  #content {
    left: 3%; } }

@media (min-width: 1500px) and (max-width: 2000px) {
  #postcard {
    top: 250px;
    left: 800px; }
  .move {
    animation-name: animPcWide; } }

/* Responsive 480 */
@media screen and (max-width: 480px) {
  body {
    width: 100%; }
  header {
    flex-wrap: wrap; }
  nav {
    width: 100%; }
  .logo {
    width: 70%;
    display: flex;
    justify-content: center; }
  main {
    width: 95%; }
  .navbar {
    display: flex; }
  .nav-index {
    display: none; }
  .pedido_box {
    display: flex;
    justify-content: center; }
    .pedido_box .pedido_img {
      width: 80%; }
  /* Mesas Dulces Section Start*/
  .contenedor {
    max-width: 1200px;
    width: 90%;
    margin: auto; }
    .contenedor .contenido-principal {
      margin-bottom: 50px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center; }
      .contenedor .contenido-principal .contenido-principal__imagen {
        border-radius: 5px;
        box-shadow: 1px 10px 15px #000;
        width: 80%;
        margin-bottom: 10%; }
      .contenedor .contenido-principal .contenido-principal__contenedor {
        width: 100%;
        display: flex;
        align-items: center; }
        .contenedor .contenido-principal .contenido-principal__contenedor .contenido-principal__titulo {
          width: 200%;
          font-size: 28px;
          font-family: 'Petrona', serif;
          font-weight: bold;
          text-align: center;
          padding: 0;
          margin-bottom: -10%; }
  /* Mesas Dulces Section End*/
  /* Tortas y Tartas Section start*/
  .gallery__item:nth-child(1), :nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .gallery__item:nth-child(2), :nth-child(3), :nth-child(6) {
    grid-column-start: span 1;
    grid-row-start: span 1; }
  .gallery__item:nth-child(4), :nth-child(8), :nth-child(9) {
    grid-column-start: span 3;
    grid-row-start: span 2; }
  .gallery__item:nth-child(7) {
    grid-column-start: span 1;
    grid-row-start: span 1; } }

/* Responsive 768 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
  main {
    width: 95%; }
  header {
    align-items: center; }
  .pedido_box {
    display: flex;
    justify-content: center; }
    .pedido_box .pedido_img {
      width: 80%; } }

/* Responsive 1024 */
@media screen and (min-width: 769px) {
  body {
    /* background: blue; */
    flex: 100%;
    max-width: 100%; }
  .logo {
    width: 15%;
    display: flex;
    justify-content: center; }
  .index-nosotras {
    width: 40%; }
  .videoSpirit {
    width: 40%;
    height: 40%;
    padding: 0.5%; }
  .nav-index {
    width: 60%;
    align-items: center;
    justify-content: center; } }

@media screen and (max-width: 800px) {
  .contenido-principal {
    flex-direction: column; }
  .contenido-principal > * {
    width: 100%; } }

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%; }

.container {
  align-items: center;
  justify-items: end; }

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0; }

#cards {
  margin-top: 1%; }

#footer {
  z-index: 0; }

.col-12.mb-2.col-md-3 {
  z-index: 0; }

.card {
  background-color: transparent; }

.btn.btn-info.btn-sm {
  background-color: #f9c1b1; }

.card-body {
  display: inline-grid; }

.btn.btn-danger.btn-sm {
  background-color: #fb8085; }

h5 {
  text-align: center; }

/*Pendientes de agregar*/
.regalo {
  font-family: 'Gabriela', serif;
  text-align: center; }
