/* --- --- CAROUSEL --- --- */
.imgcarousel {
  border-radius: 10px;
  padding-left: 2%; }

.carousel__contenedor {
  position: relative; }
  .carousel__contenedor .carousel__anterior {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    background: none;
    opacity: 40%;
    color: #fb8085;
    left: -30px;
    right: none; }
  .carousel__contenedor .carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    background: none;
    opacity: 40%;
    color: #fb8085;
    left: none;
    right: -30px; }
  .carousel__contenedor .carousel__anterior:hover,
  .carousel__contenedor .carousel__siguiente:hover {
    opacity: 100%; }

.carousel__lista {
  overflow: hidden; }
  .carousel__lista .carousel__elemento {
    text-align: center; }

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  color: #fb8085;
  opacity: .2;
  border-radius: 0; }

.carousel__indicadores .glider-dot:hover {
  opacity: .5;
  background: #fb8085; }

.glider-dot.active {
  background: #fb8085; }

.glider-dot {
  background: #fb8085;
  opacity: .5; }

.carousel__indicadores .glider-dot.active {
  opacity: 1; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background-image: url(../img/Pagina/Fondo.jpg); }

header {
  width: 100%;
  height: auto;
  display: flex;
  position: sticky;
  justify-content: center;
  top: 0;
  z-index: 1;
  background-color: #f9c1b1;
  background-image: linear-gradient(to left, #f9c1b1 20%, #fb8085 100%);
  box-shadow: 1px 3px 25px #000;
  font-weight: bold; }

main, footer {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo__link {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .logo__link .logo__img {
    width: 70%;
    height: 100%; }

.nav-index {
  width: 100%;
  height: auto;
  font-family: 'Gabriela', serif;
  display: flex;
  justify-content: center; }
  .nav-index .nav-index__ul,
  .nav-index .nav-index__li {
    padding: 10px;
    margin: 0;
    list-style: none;
    float: left;
    text-align: center;
    margin-left: 20px; }
    .nav-index .nav-index__ul .nav-index__link,
    .nav-index .nav-index__li .nav-index__link {
      color: #fff;
      margin: -10px;
      padding: 10px;
      display: run-in;
      text-decoration: none;
      display: flex; }
      .nav-index .nav-index__ul .nav-index__link:hover,
      .nav-index .nav-index__li .nav-index__link:hover {
        cursor: pointer;
        color: #000; }

h2 {
  width: 20%;
  height: 20%;
  text-align: center;
  color: #fb8085;
  font-family: 'Gabriela', serif;
  position: static;
  padding: 1%; }

.title {
  font-size: 170%;
  font-weight: bolder;
  color: #fb8085;
  font-family: 'Gabriela', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%; }

p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center; }

h3, p {
  width: 100%;
  font-size: 20px;
  padding: 0; }

.copyright, h3, p {
  font-family: 'Petrona', serif;
  font-weight: bold;
  word-spacing: 5px;
  line-height: 50px; }

.index-nosotras {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .index-nosotras .index-nosotras__img {
    margin-top: 5%;
    border-radius: 500px;
    border-style: dashed;
    border-width: 10px;
    border-color: #fb8085;
    padding: 10px;
    border-block: initial;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }

.IndexVideo {
  width: 100%;
  display: flex;
  justify-content: center; }

.videoSpirit {
  border-radius: 500px;
  border-style: dashed;
  border-width: 10px;
  border-color: #fb8085;
  border-block: initial;
  width: 90%;
  height: 100%; }

.socialtitle {
  display: flex;
  justify-content: center;
  text-decoration: underline; }

.btn-primary {
  background-color: #f9c1b1;
  background-image: linear-gradient(315deg, #fb8085 20%, #f9c1b1 60%);
  border-color: white;
  border-width: 2px; }

.btn-primary:hover {
  border-color: #000; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px; }
  .gallery-container .gallery__item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 0px #000;
    animation-name: shadow;
    animation-fill-mode: forwards;
    transition: all ease 500ms;
    animation-delay: 4s;
    animation-duration: 4s; }
    .gallery-container .gallery__item .gallery__title {
      position: absolute;
      bottom: 0;
      color: #fff;
      background: linear-gradient(#fff, #000);
      width: 100%;
      margin: 0;
      padding: 10px;
      display: none; }
    .gallery-container .gallery__item .gallery__img {
      width: 0%;
      height: 0%;
      object-fit: cover;
      animation-name: zoom-in;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      transition: all ease 500ms; }
      .gallery-container .gallery__item .gallery__img:hover {
        cursor: pointer;
        transform: scale(1.5); }

@keyframes zoom-in {
  from {
    width: 0%;
    height: 0%; }
  to {
    width: 100%;
    height: 100%; } }

@keyframes shadow {
  from {
    box-shadow: 0px 0px 0px #000; }
  to {
    box-shadow: 1px 10px 15px #000; } }

.gallery__item:nth-child(1) {
  grid-column-start: span 1;
  grid-row-start: span 4; }

.gallery__item:nth-child(2), :nth-child(6), :nth-child(5) {
  grid-row-start: span 2; }

.gallery__item:nth-child(7), :nth-child(8), :nth-child(9) {
  grid-row-start: span 3; }

.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: auto; }
  .contenedor .contenido-principal {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center; }
    .contenedor .contenido-principal .contenido-principal__imagen {
      border-radius: 5px;
      box-shadow: 1px 10px 15px #000;
      width: 40%; }
    .contenedor .contenido-principal .contenido-principal__contenedor {
      width: 50%; }
      .contenedor .contenido-principal .contenido-principal__contenedor .contenido-principal__titulo {
        width: 100%;
        font-size: 28px;
        font-family: 'Petrona', serif;
        font-weight: bold;
        text-align: center;
        word-spacing: 5px;
        line-height: 50px;
        padding: 0; }
        .contenedor .contenido-principal .contenido-principal__contenedor .contenido-principal__titulo .contenido-principal__resumen {
          width: 100%;
          font-size: 20px;
          font-family: 'Petrona', serif;
          font-weight: bold;
          text-align: center;
          word-spacing: 5px;
          line-height: 50px;
          padding: 0; }

form {
  width: 77rem;
  height: 500px;
  align-content: center; }

legend {
  text-align: center; }

.formPersonales {
  text-align: center;
  padding: 10px;
  word-spacing: 5px; }

.formCat {
  padding: 25px; }

.FormCelTacc {
  padding-bottom: 10px; }

.FormGustos {
  Padding: 10px 0px 10px 0px; }

.FormBotones {
  Padding: 10px 0px 10px 0px; }

fieldset {
  position: relative;
  left: 17rem;
  display: inline-flex; }

/* Responsive 480 */
@media screen and (max-width: 480px) {
  body {
    /* background: red; */
    width: 100%; }
  header {
    flex-wrap: wrap; }
  nav {
    width: 100%; }
  .logo {
    width: 70%;
    display: flex;
    justify-content: center; }
  main {
    width: 95%; } }

/* Responsive 768 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .logo {
    width: 40%;
    display: flex;
    justify-content: center; }
  main {
    width: 95%; } }

/* Responsive 1024 */
@media screen and (min-width: 769px) {
  body {
    /* background: blue; */
    flex: 100%;
    max-width: 100%; }
  .logo {
    width: 15%;
    display: flex;
    justify-content: center; }
  .index-nosotras {
    width: 40%; }
  .videoSpirit {
    width: 40%;
    height: 40%;
    padding: 0.5%; }
  .nav-index {
    width: 60%;
    align-items: center;
    justify-content: center; } }

@media screen and (max-width: 800px) {
  .contenido-principal {
    flex-direction: column; }
  .contenido-principal > * {
    width: 100%; } }

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%; }

/*Pendientes de agregar*/
.regalo {
  font-family: 'Gabriela', serif;
  text-align: center; }
