
form {
    width: 77rem;
    height: 500px;
    align-content: center;
}

legend {
    text-align: center;
}

.formPersonales {
    text-align: center;
    padding: 10px ;
    word-spacing: 5px;

}

.formCat{
    padding: 25px
}

.FormCelTacc{
    padding-bottom: 10px;
}

.FormGustos {
    Padding: 10px 0px 10px 0px 
}

.FormBotones {
    Padding: 10px 0px 10px 0px
}

fieldset {
    position: relative;
    left: 17rem;
    display:inline-flex;
}